.intro-text {
  padding-top: 75px!important;
  padding-bottom: 100px!important;
  text-shadow: 2px 1px 1px #6a6a77;
  color: #ffffff;

  div {

  }
  a {
    max-width: 100%;
    margin-left: 8px;
    font-size: 18px;
    text-transform: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  h4 {
    color: #fed136;
  }
  i {
    font-size: 18px;
    color: #fed136;
  }
  .links {
    font-size: 12px;
    line-height: 24px;
    text-transform: initial;

    hr {
      width: 30%;
      border-top: 1px solid;
    }
  }
  .intro-heading.text-uppercase {
    font-size: 2em !important;
    margin-bottom: 0 !important;
  }
}

.MuiDialog-container {
  max-height: 90%;
  margin: 5%;
  margin-top: 2.5%;

  //margin: 5%;
  img {
    max-width: 100%;
  }
}

#responsive-dialog-title {
  margin: 20px;
}

body {
  overflow-x: hidden;
}

.navbar {
  max-width: 100%;
  overflow-x: hidden;
}