.MuiDialog-container {
  max-height: 90%;
  margin: 5%;
  margin-top: 2.5%;

  //margin: 5%;
  img {
    max-width: 100%;
  }
}

.MuiDialog-paperFullScreen {
  background-image: url(/img/loading.gif);
  background-repeat: no-repeat;
  background-position: 50%;
}

.MuiDialog-paperWidthSm {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
}

.MuiDialogContent-root {
  text-align: center;
}