.MuiDialog-container {
  max-height: 90%;
  margin: 5%;
  margin-top: 2.5%;

  //margin: 5%;
  img {
    max-width: 100%;
  }
}

.MuiDialog-paperFullScreen {
  background-image: url(/img/loading.gif);
  background-repeat: no-repeat;
  background-position: 50%;
}